version: '3.8'

services:
  mybackend:
    image: grasshopperpi:1
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    ports:
      - "8083:8083"
    networks:
      - desarrollo_net
    depends_on:
      - mydatabase
  mydatabase:
    image: postgres:15.0-bullseye
    environment:
      - POSTGRES_DB=grasshopperdb
      - POSTGRES_PASSWORD=ESSKEETIT1
      - POSTGRES_USER=postgres
    volumes:
      - pg_pi_grasshopper_data:/var/lib/postgresql/data/
    networks:
      - desarrollo_net
            
volumes:
  pg_pi_grasshopper_data:
    external: true

networks:
  desarrollo_net:
    external: true

secrets:
  db_dev_pass:
    external: true  